<h1>Change Password</h1>
<div class="w-25 start-0">
    <input type="password" class="form-control" id="password" name="password" placeholder="current password"><br><br>
    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="new password"><br>
    <input type="password" class="form-control" id="confirmedPassword" name="confirmedPassword" placeholder="confirm new password"><br>
    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
</div>

<script>
    $('#submit').click(e => {
        var password = $("#password").val().trim();
        var newPassword = $("#newPassword").val().trim();
        var confirmedPassword = $("#confirmedPassword").val().trim();

        $.post(`/auth/changePassword`, { password, newPassword, confirmedPassword }, function( data, statusCode ) {
            $('#toastHeader').html(statusCode);
            $('#toastBody').html(data.message);
        }).fail((response, textStatus, errorThrown) => {
            $('#toastHeader').html(textStatus);
            $('#toastBody').html(`${errorThrown}-${JSON.parse(response.responseText).message}`);
        }).always(() => {
            $('#liveToast').toast('show');            
            $("#password").val('');
            $("#newPassword").val('');
            $("#confirmedPassword").val('');
            $("#password").focus();
        })
    })
</script>
