<!-- requires testUserData: TestUserData -->
<div class="py-5" id='test'>
    <h3 id="question-name"></h3>
    <h5 id="user-id"></h5>
    <div class="w-25">
        <select class="form-select my-2" id="grade" hidden onchange="submitGrade(event)">
            <option value=-1>Select Grade</option>
            <option value="4.0">A</option>
            <option value="3.7">A-</option>
            <option value="3.3">B+</option>
            <option value="3.0">B</option>
            <option value="2.7">B-</option>
            <option value="2.3">C+</option>
            <option value="2.0">C</option>
            <option value="1.7">C-</option>
            <option value="1.3">D+</option>
            <option value="1.0">D</option>
            <option value="0.7">D-</option>
            <option value="0.0">F</option>
        </select>
    </div>
    <button type="button" hidden class="btn btn-outline-primary" id="btn-back" onclick="back(event)">Back</button>
    <button type="button" hidden class="btn btn-outline-primary" id="btn-forward" onclick="forward(event)">Forward</button>
    <button type="button" class="btn btn-outline-primary" id="btn-start" onclick="setCurrentGrading()">Start</button>
</div>

<script type="application/javascript">
    var testUserData = <%-JSON.stringify(testUserData)%>;
    var grading = false;
    var index = -1;
    testUserData.every(user => {
        index ++;
        return user.grade
    })
    var user;
    var forward = (e) => {
        index ++;
        setCurrentGrading();
    }

    var back = (e) => {
        index --;
        if (index < 0) index = testUserData.length
        setCurrentGrading();
    }
    
    var setCurrentGrading = () => {
        if (!grading) {
            $('#btn-back').prop('hidden', false);
            $('#btn-forward').prop('hidden', false);
            $('#grade').prop('hidden', false);
            $('#btn-start').prop('hidden', true);
            grading = true;
        }

        user = testUserData[index % testUserData.length]
        $('#question-name').html(`Question ${user.questionName}`)
        $('#user-id').html(`User ${user.userId}`)
        if (user.grade) {
            console.log('setting', user.grade)
            $('#grade').val(`${user.grade}`).change(null);
        }
        else $('#grade').val(-1).change(null);
        window.open(`${user.url}#toolbar=0&page=${user.questionPage}`,'new window')
    }

    var submitGrade = (e) => {
        user.grade = e.target.value
        console.log('submitting', e.target.value)
    }

    console.log(testUserData)
</script>