<div class="jumbotron">
    <h1>Code</h1>
    <h1 id="number"></h1>
</div>

<script type="application/javascript">
    var intervalID = setInterval(function () {
        $.get( "/admin/code/update", function( data ) {
            if (data.code) {
                $("#number").html( data.code )
            }
            else {
                $("#alert-box").html( 
                    "<div class='alert alert-info' role='alert'>" + 
                        "Attendance Closed" +
                    "</div>"
                )
                $("#number").html( "" )
                stop();
            }
        })
    }, parseInt('<%= process.env.CODE_REFRESH_RATE %>'))

    function stop() {
        clearInterval(intervalID);
    }
</script>