<!-- requires courses list {id, course_number} -->
<%- include('partials/course-select-dropdown.ejs', {courses: courses}); %>
<!-- <button type="submit" id="add-class-btn" class="btn btn-primary my-2">Add Users To Course</button> -->

<div class="jumbotron">
    <h5 id="timer"></h5>
    <h1>Code</h1>
    <h1 id="number"></h1>
</div>

<script type="application/javascript">
    var courses = <%-JSON.stringify(courses)%>
    var timerID = undefined;
    var displayCodeId = undefined;

    $('#course-select').change( (event) => {
        var courseId = event.target.value //$('#course-select').val()
        var course = courses.filter(course => course.id == courseId)
        try {
            var startTime = course[0].start_time.split(':')
        }
        catch {
            return;
        }
        var startHour = startTime[0]
        var startMinute = startTime[1]
        var today = new Date();
        var classDate = new Date();
        classDate.setHours(startHour);
        classDate.setMinutes(startMinute);
        classDate.setSeconds(0);
        var diffMilli = classDate - today;
        if (diffMilli > 0) {
            displayTimer(diffMilli);
        } else {
            if(timerID) clearInterval(timerID)
            if(displayCodeId) clearInterval(displayCodeId)
            $("#alert-box").html( 
                "<div class='alert alert-info' role='alert'>" + 
                    "Attendance Closed" +
                "</div>"
            )
            $("#number").html( "" )
            $("#timer").html('Class is done for today!');
        }       
    } )

    const displayTimer = (diffMilli) => {
        var diffDate = new Date(diffMilli)
            var minutesLeft = diffDate.getMinutes();
            var secondsLeft = diffDate.getSeconds();
            var codeStarted = false;
            timerID = setInterval(function () {
                var seconds = secondsLeft >= 10 ? secondsLeft : `0${secondsLeft}`;
                $("#timer").html(`${minutesLeft}:${seconds}`);
                secondsLeft -= 1;
                // start the code within 5 minutes of class starting
                if (minutesLeft < 5 && minutesLeft > 0 && !codeStarted) {
                    codeStarted = true;
                    $("#alert-box").html( 
                        "<div class='alert alert-success' role='alert'>" + 
                            "Enter the last 5 numbers to sign in!" +
                        "</div>"
                    )
                    displayCodeId = displayCode();
                } else if (!codeStarted) {
                    $("#alert-box").html( 
                        "<div class='alert alert-warning' role='alert'>" + 
                            "Sign in will open 5 minutes before class starts" +
                        "</div>"
                    )
                }
                if (secondsLeft < 0) {
                    secondsLeft = 59;
                    minutesLeft -= 1;
                }

                // stop the time if class has started
                if (minutesLeft < 0) {
                    clearInterval(timerID)
                    clearInterval(displayCodeId)
                    codeStarted = false;
                    $("#alert-box").html( 
                        "<div class='alert alert-info' role='alert'>" + 
                            "Attendance Closed" +
                        "</div>"
                    )
                    $("#number").html( "" )
                }
            }, 1000);
    }

    const displayCode = () => {
        const interval = setInterval(function () {
            $.get( "/admin/code/update", function( data ) {
                if (data.code) {
                    $("#number").html( data.code )
                }
            })
        }, parseInt('<%= process.env.CODE_REFRESH_RATE %>'))
        return interval
    }
</script>