<!-- requires courses, addForm -->
<div class="jumbotron">
    <h1>Courses</h1>

    <div class="w-75 start-0 center">
        <div class="container alternating-table" id="courses">
            <% courses.forEach(course => { %>
                <%- course %>
            <% }) %>
        </div>
        
        <h5>New Course</h5>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-3">
                    number
                </div>
                <div class="col-3">
                    name
                </div>
                <div class="col-3">
                    start time
                </div>
                <div class="col-3">
                    end time
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-3">
                    <input class="form-control my-2" name="number" id="number"></input>
                </div>
                <div class="col-3">
                    <input class="form-control my-2" name="name" id="name"></input>
                </div>
                <div class="col-3">
                    <input class="form-control my-2" type="time" name="startTime" id="start-time" placeholder="startTime"></input>
                </div>
                <div class="col-3">
                    <input class="form-control my-2" type="time" name="endTime" id="end-time" placeholder="endTime"></input>
                </div>
                <input type="hidden" name="semesterId" id="semesterId" value="<%= semesterId %>"></input>
            </div>
            <div class="row my-2">
                <div class="col-3">
                    first class
                </div>
                <div class="col-3">
                    last class
                </div>
                <div class="col-1">
                    M
                </div>
                <div class="col-1">
                    T
                </div>
                <div class="col-1">
                    W
                </div>
                <div class="col-1">
                    Th
                </div>
                <div class="col-1">
                    F
                </div>
                <div class="col-1">
                    S
                </div>
            </div>
            <div class="row checkboxes">
                <div class="col-3">
                    <input class="form-control my-2" type="date" id="start-date" name="meeting-time">
                </div>
                <div class="col-3">
                    <input class="form-control my-2" type="date" id="end-date" name="meeting-time">
                </div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" value="monday" id="monday-checkbox">
                </div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" value="tuesday" id="tuesday-checkbox">
                </div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" value="wednesday" id="wednesday-checkbox">
                </div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" value="thursday" id="thursday-checkbox">
                </div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" value="friday" id="friday-checkbox">
                </div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" value="saturday" id="saturday-checkbox">
                </div>
            </div>
            <div class="row justify-content-md-end">
              <button type="button" id="new-course-btn" class="btn btn-primary my-2 col-2">Submit</button>
            </div>
        </div>

    </div>
</div>

<script>
    $('#new-course-btn').click(e => {
        var days = []
        $('.checkboxes input:checked').each((i, e) => {
            days.push(e.value)
        })

        var number = $(`#number`).val();
        var name = $(`#name`).val();
        var semesterId = $(`#semesterId`).val();

        var startTime = $(`#start-time`).val();
        var endTime = $(`#end-time`).val();

        var startDateVal = $(`#start-date`).val();
        var endDateVal = $(`#end-date`).val();
        var start = startDateVal ? new Date(startDateVal) : undefined;
        var end = endDateVal ? new Date(endDateVal) : undefined;

        var data = {
            startDate: start ? start.toISOString() : undefined,
            endDate: end ? end.toISOString() : undefined,
            days,
            startTime,
            endTime,
            number,
            name,
            semesterId,
        }

        $.post('/admin/courses/add',
            data,
            function( data ) {
                window.location.reload();
            }
        ).fail( function(data) {
            $('#toastHeader').html("Course Creation Error");
            $('#toastBody').html(data.responseJSON.message);
            $('#liveToast').toast('show');
        });
    })

    const viewCourse = (e, courseId) =>  {
        window.location.href=`/admin/courses/${courseId}`;
    }

    const deleteCourse = (e) => {
        $.ajax({
            url: `/admin/courses/${e.target.value}`,
            type: 'DELETE',
            success: function(response) {
                location.reload();
            },
            error: function(response) {
                $('#toastHeader').html("Course Deletion Error");
                $('#toastBody').html(response.responseJSON.message);
                $('#liveToast').toast('show');
            }
        });
    }
</script>
