<!-- requires courses, addForm -->
<div class="jumbotron">
    <h1>Courses</h1>

    <div class="w-75 start-0 center">
        <div class="container alternating-table" id="courses">
            <% courses.forEach(course => { %>
                <%- course %>
            <% }) %>
        </div>
        
        <h5>New Course</h5>
        <form id="add-course-form" action="/admin/courses/add" method="POST">
            <div class="row justify-content-md-center">
                <div class="col-3">
                    <input class="form-control my-2" name="number" id="number" placeholder="number"></input>
                </div>
                <div class="col-3">
                    <input class="form-control my-2" name="name" id="name" placeholder="name"></input>
                </div>
                <div class="col-3">
                    <input class="form-control my-2" name="startTime" id="startTime" placeholder="startTime"></input>
                </div>
                <div class="col-3">
                    <input class="form-control my-2" name="endTime" id="endTime" placeholder="endTime"></input>
                </div>
                <input type="hidden" name="semesterId" id="semesterId" value="<%= semesterId %>"></input>
            </div>
            <div class="row justify-content-md-end">
              <button type="submit" id="bulk-add-btn" class="btn btn-primary my-2 col-2">Submit</button>
            </div>
        </form>

    </div>
</div>

<script>
    const viewCourse = (e, courseId) =>  {
        window.location.href=`/admin/courses/${courseId}`;
    }

    const deleteCourse = (e) => {
        $.ajax({
            url: `/admin/courses/${e.target.value}`,
            type: 'DELETE',
            success: function(response) {
                location.reload();
            },
            error: function(response) {
                console.log(response);
            }
        });
    }
</script>
