<!-- requires courseName, courseId, users, assignments -->
<div class="jumbotron">
    <h1><%=courseName%></h1>

    <a class="btn btn-primary" data-bs-toggle="collapse" href="#users-collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
        Users
    </a>
    <div class="collapse show" id="users-collapse">
        <%- usersList %>

        <div class="my-3">
            <h5>Sign In User(s)</h5>
            <button type="submit" id="bulk-sign-in-btn" value="<%=courseId%>" class="btn btn-primary my-2">Sign In</button>
        </div>
    </div>
</div>

<script>
    $('#bulk-sign-in-btn').click((e) => {
        var userIds = []
        $('.userc:checkbox:checked').each(function() {userIds.push(this.value)})

        $.post(`/admin/courses/${e.target.value}/signin`, {userIds}, function( data ) {
            $('#toastHeader').html("Success");
            $('#toastBody').html("Users Signed In Successfully");
            $('#liveToast').toast('show');
        }).fail( function(data) {
            $('#toastHeader').html("Sign in Error");
            $('#toastBody').html(data);
            $('#liveToast').toast('show');
        });
    })

</script>
