<!-- requires courseName, courseId, users -->
<div class="jumbotron">
    <h1><%=courseName%></h1>

    <div class="container text-center" id='calendar-container'>
        <div class="row justify-content-lg-center">
            <div class="col col-lg-7">
                <%-calendar%>
              </div>
        </div>
    </div>
    
    <div class="container alternating-table" id="users">
        <% users.forEach(user => { %>
            <%- user %>
        <% }) %>
    </div>
    <form id="bulk-add-form" action="/admin/users/add" method="POST">
        <textarea class="form-control my-2" name="text" id="bulk-add-area" placeholder="Add Users&#10;Email|FirstName|LastName|Role1,Role2|Group1,Group2" aria-label="Email" aria-describedby="basic-addon1"></textarea>
        <button type="submit" id="bulk-add-btn" class="btn btn-primary form-control my-2">Submit</button>
    </form>
</div>

<script>
    const signIn = (e) => {
        $.post(`/admin/users/${e.target.value}/signin`, function( data ) {
            if (data) {
                e.target.disabled = true;
            }
            else
                console.log('no')
        })
    }

    const rowClick = (e, userId) => {
        window.location.href=`/admin/users/${userId}`;
    }

    const remove = (e) => {
        $.ajax({
            url: `/admin/courses/<%=courseId%>/${e.target.value}`,
            type: 'DELETE',
            success: function(response) {
                window.location.reload();
            },
            error: function(response) {
                console.log(response);
            }
        });
    }
</script>
