<div class="jumbotron">
    <h1>Dates</h1>
    <textarea class="form-control my-2" name="text" id="bulk-add-area" placeholder="Add Dates&#10;yyyy-mm-ddThh:mm" aria-label="dates" aria-describedby="basic-addon1"></textarea>

    <label for="courses">Choose course(s):</label>
    <select class="form-control my-2" name="courses" id="courses" multiple>
        <%courses.forEach(course => {%>
            <option value=<%=course.id%>><%=course.name%></option>
        <%})%>
    </select>
    <button type="submit" id="submit" class="btn btn-primary form-control my-2">Submit</button>
</div>

<script>
    $('#submit').click(e => {
        var courses = $('select#courses').val()
        var dates = $("#bulk-add-area").val().trim().split('\n')
        $.post(`/admin/dates`, { courses, dates }, function( data ) {
            if (data) {
                console.log('ok')
                // window.location.reload();
            } else {
                console.log('nope')
            }
        })
    })
</script>
