<div class="jumbotron">
    <h1>Users</h1>
    <select class="form-select my-2" id="section-select" aria-label="Default select section">
        <option selected>Select Section</option>
        <option value="section1">One</option>
        <option value="section2">Two</option>
        <option value="section3">Three</option>
    </select>

    <div class="container" id="users"></div>
    <form id="bulk-add-form" action="/admin/users/add" method="POST">
        <textarea class="form-control my-2" name="text" id="bulk-add-area" placeholder="Add Users&#10;Email, FirstName, LastName, ['Roles'], ['Groups']" aria-label="Email" aria-describedby="basic-addon1"></textarea>
        <button type="submit" id="bulk-add-btn" class="btn btn-primary form-control my-2">Submit</button>
    </form>
</div>

<script>
    var users = <%- users %>;
    $('#section-select').change(e => {
        setUserList(getUserListHTML(users, e.target.value));
    });

    function getUserListHTML(users, group) {
        return users.filter(user => { return user.groups.includes(group) })
                    .map(user => user.html)
    }

    function setUserList(users) {
        $('#users').empty();
        $('#users').append(users);
    }

    $(document).ready(function() {
        var section = "<%- section %>"
        if (section) {
            $('#users').append(getUserListHTML(users, section));
        }
    })

    $(document.body).on('click', '.signin', (e) => {
        console.log(e)
        
        $.post(`/admin/user/${e.target.value}/signin`, function( data ) {
            if (data) {
                // e.target.classList.remove('btn-primary');
                e.target.disabled = true;
            }
            else
                console.log('no')
        })
    })

    $(document.body).on('click', '.view', (e) => {
        window.location.href=`/admin/user/${e.currentTarget.value}`;
    })

    $(document.body).on('click', '.delete', (e) => {
        $.ajax({
            url: `/admin/user/${e.target.value}`,
            type: 'DELETE',
            success: function(response) {
                users = users.filter(user => user.id !== parseInt(e.target.value))
                setUserList(getUserListHTML(users, 'section3'));
            },
            error: function(response) {
                console.log(response);
            }
        });



    })
</script>
