<h1>Set User Password</h1>
<div class="w-25 start-0 center">
    <input type="password" class="form-control" id="password" name="password" placeholder="password"><br><br>
    <button type="submit" class="btn btn-primary" id="submit">Submit</button>
</div>

<script>
    $('#submit').click(e => {
        var password = $("#password").val().trim();
        $.post(`/admin/users/<%=userId%>/password`, { password }, function( data, statusCode ) {
            $('#toastHeader').html(statusCode);
            $('#toastBody').html(data.message);
            window.location.href = data.redirect;
        }).fail((response, textStatus, errorThrown) => {
            $('#toastHeader').html(textStatus);
            $('#toastBody').html(`${errorThrown}-${JSON.parse(response.responseText).message}`);
            $('#liveToast').toast('show');            
            $("#password").val('');
            $("#password").focus();
        })
    })
</script>
