<!-- requires events: CalendarEvent -->
<div id='calendar'></div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const isMobile = window.matchMedia("only screen and (max-width: 760px)").matches
        var headerToolbar = {
                left: isMobile ? 'prev' : 'dayGridMonth,timeGridWeek,timeGridDay',
                center: 'title',
                right: isMobile ? 'next': 'today,prev,next'
        }
        var events = <%-JSON.stringify(events)%>
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar,
            initialView: 'dayGridMonth',
            // themeSystem: 'bootstrap5',
            events,
            eventClick: function(info) {
                info.jsEvent.preventDefault(); // don't let the browser navigate

                if (info.event.url) {
                    window.open(info.event.url);
                }
            }
        });
        calendar.render();
    });
</script>