<meta charset="UTF-8">
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<meta name="google-signin-client_id"
      content="274437993487-186tmakn0ltmafu7sirjgfa5ui6lfbup.apps.googleusercontent.com.apps.googleusercontent.com">
<style>
  body { padding-top:50px; }
</style>