<header>
  <nav class="navbar navbar-expand-lg navbar-dark nav-color rounded-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <%- user?.firstName ? `220 | ${user.firstName}` : '220' -%>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if (user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/attendance">Attendance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/announcements">Announcements</a>
            </li>
            <% if (user?.roles?.includes('admin') || user?.roles?.includes('assistant') ) { %>
              <li class="nav-item">
                <a class="nav-link" href="/grading">Grading</a>
              </li>
            <% } %>
            <% if (user?.roles?.includes('admin')) { %>
              <li class="nav-item">
                <a class="nav-link" href="/admin/courses">Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tests">Tests</a>
              </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link" href="/user/<%= user.id %>/settings">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Login</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
    <div class="container-fluid admin-breadcrumb" hidden>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/code">Code</a></li>
        <li class="breadcrumb-item"><a href="/admin/users">Users</a></li>
        <li class="breadcrumb-item"><a href="/admin/groups">Groups</a></li>
        <li class="breadcrumb-item"><a href="/admin/courses">Courses</a></li>
        <li class="breadcrumb-item"><a href="/admin/posts">Posts</a></li>
        <li class="breadcrumb-item"><a href="/admin/assignments">Assignments</a></li>
        <li class="breadcrumb-item"><a href="/admin/announcements">Announcements</a></li>
        <li class="breadcrumb-item"><a href="/admin/assessments">Assessments</a></li>
      </ol>
    </div>
  </nav>
</header>

<script>
  $(document).ready(() => {
    const path = window.location.pathname;
    const top = path.split('/')[1];
    switch(top) {
      case 'admin':
        $('.admin-breadcrumb').removeAttr('hidden');
        break;
    }
  })
</script>