<!-- requires {action: form action, fields: [{id: field id, placeholder, }], } -->
<form id="bulk-add-form" action="<%=action%>" method="POST">
  <div class="row justify-content-md-center">
    <% fields.forEach(field => { %>
      <div class="col-4">
        <input class="form-control my-2" name="<%=field.id%>" id="<%=field.id%>" placeholder="<%=field.placeholder%>"></input>
      </div>
    <% }) %>
    <button type="submit" id="bulk-add-btn" class="btn btn-primary form-control my-2">Submit</button>
  </div>
</form>