<div class="modal fade" id="modal-page" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title ms-5" id="modal-page-title"></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-page-body m-3">
                <div class="container mt-4">
                    <div class="modal-question-text mb-3" id="question-text"></div>
                    <div class="row">
                        <div class="col-8 border-end border-2" id="resi">
                            <div class="my-2">
            
                                <iframe id="console-window"
                                    src="https://baierpa.github.io/220-repl/repl/index.html?kernel=python&toolbar=1&theme=JupyterLab Dark"
                                    width="100%"
                                    height="500px">
                                </iframe>
            
                            </div>
                        </div>
                        <div class="col question-container">
                            <div class="row">
                                <div class="col-4">
                                    answer:
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <input class="form-control my-2" id="answer"></input>
                                </div>
                                <div class="col-3">
                                    <button type="submit" id="check" class="btn btn-primary form-control my-2" >Submit</button>
                                </div>
                                <div class="col my-3">
                                    <span id="attempts"></span> attempt(s) left
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-2">
                                    code:
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <textarea class="form-control my-2" id="code" rows="7" cols="50"></textarea>
                                </div>
                                <div class="col-3">
                                    <button type="submit" id="submit-question" class="btn btn-primary form-control my-2">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $("#resi").resizable({
        handles: "e",
        minWidth: 200
    });
    
    $('.back-span').click( (e) => {
        var url = e.currentTarget.id;
        $.get(url,
            function( data ) {
                $('#page').html(data.page);
            }
        ).fail( function(data) {
            $('#toastHeader').html("Error");
            $('#toastBody').html("Announcement creation error");
            $('#liveToast').toast('show');
        });
    })

    $("#check").click(e => {
        var answer = $("#answer").val();
        var attemptsElement = $("#attempts");
        var attemptsLeft = parseInt(attemptsElement.text()) - 1;
        var questionId = parseInt($('.question-container').attr('id'))
        console.log('check', answer)

        attemptsElement.text(`${attemptsLeft}`)

        if(attemptsLeft <= 0) {
            $("#check").prop("disabled",true);
            $("#answer").prop("disabled",true);
        }

        data = { answer }

        $.post(`/assessment/<%= assessment.slug %>/${questionId}/answer`,
            data,
            function( data ) {
                $('#toastHeader').html("Feedback");
                $('#toastBody').html(data.message);
                $('#liveToast').toast('show');

                $('#toastBody').removeClass('bg-success-custom bg-warning-custom bg-notify-custom text-white')
                $('#answer').removeClass('border-success-custom border-warning-custom')

                if (data.correct) {
                    $('#toastBody').addClass('text-white bg-success-custom')
                    $('#answer').addClass('border border-3 border-success-custom')
                } else {
                    $('#toastBody').addClass('text-white bg-warning-custom')
                    $('#answer').addClass('border border-3 border-warning-custom')
                }
            }
        ).fail( function(data) {
            $('#toastBody').removeClass('bg-success-custom bg-warning-custom text-white')

            $('#toastBody').addClass('text-white bg-warning-custom')
            $('#toastHeader').html("Check Error");
            $('#toastBody').html(data.message);
            $('#liveToast').toast('show');

            if (data.disable) {
                $("#check").prop("disabled", true);
                $("#answer").prop("disabled", true);
            }
        });
    })

    $("#submit-question").click(e => {
        var code = $("#code").val();
        var questionId = parseInt($('.question-container').attr('id'))

        $('#toastBody').removeClass('bg-success-custom bg-warning-custom text-white')
        $('#code').removeClass('border-success-custom border-warning-custom border-change-custom')

        $.post(`/assessment/<%= assessment.slug %>/${questionId}/code`,
            { code },
            function( data ) {
                // restart timer to compensate for any delays
                clearInterval(intervalId);
                startTimer(data.now);
                $('#toastHeader').html("Submission");
                $('#toastBody').html(data.message);
                $('#liveToast').toast('show');

                $('#toastBody').addClass('text-white bg-notify-custom')
                $('#code').addClass('border border-3 border-change-custom')
            }
        ).fail( function( data ) {
            if (data.responseJSON.verificationError)
                window.location.href='/assessment/<%= assessment.assessmentId %>';
            $('#toastBody').addClass('text-white bg-warning-custom')
            $('#toastHeader').html("Submission Error");
            $('#toastBody').html(data.responseJSON.message);
            $('#liveToast').toast('show');

        });
    })

    $('#code').bind('input propertychange', e => {
        $('#code').removeClass('border-success-custom border-warning-custom border-change-custom')
        $('#code').addClass('border border-3 border-warning-custom')
    })

    $('#code').keydown( e => {
        if (e.key === 'Tab') {
            e.preventDefault()
            var currentLocation = e.target.selectionStart;
            var fullCode = e.target.value;
            var startText = fullCode.substring(0, currentLocation)
            var endText = fullCode.substring(currentLocation);
            e.target.value = startText + '    ' + endText;
            e.target.selectionStart = currentLocation + 4;
            e.target.selectionEnd = e.target.selectionStart;
        }
    })

</script>