<div class="jumbotron">
    <h1>Attendance <%- user.first_name %></h1>
    <input type="number" id="code" name="quantity">
    <h3 id="result"></h3>
</div>

<script>
    $( "#code" ).keyup(function (event) {
        const code = event.target.value;
        if (code > 9999) {
            $.post( "/user/attendance", {code}, function( data ) {
                if (data.result) {
                    $( "#result" ).html("Success!")
                }
                else {
                    $( "#result" ).html("Try Again")
                    event.target.value = ''
                }
            })
        }
        else {
            $( "#result" ).html("")
        }
    })
</script>
