<div class="jumbotron">
    <h1>Attendance <%- user.first_name %></h1>
    <input type="number" class="form-control" id="code" name="quantity">
</div>

<script>
    $( "#code" ).keyup(function (event) {
        const code = event.target.value;
        if (code > 9999) {
            $.post( "/user/attendance", {code}, function( data ) {
                $( "#alert-box" ).html(
                    `
                    <div class="alert alert-${data.alert[0].type}" role="alert">
                        ${data.alert[0].message}
                    </div>
                    `
                )
                event.target.value = ''
            })
        }
    })
</script>
