<%- include('partials/header', {userInfo}); %>
<div class="jumbotron">
    <h1>Code <%- userInfo.userName %></h1>
    <h1 id="number"></h1>
</div>

<script type="application/javascript">
    setInterval(function () {
        $.get( "/admin/code/update", function( data ) {
            $("#number").html( data.code )
        })
    }, parseInt('<%= process.env.CODE_REFRESH_RATE %>'))
</script>