<%- include('partials/header', {user}); %>
<div class="jumbotron">
    <h1>Users</h1>
    <h3>Welcome <%- user.first_name %></h3>
    <a href="/admin/code">code</a>
    <br>
    <a href="/admin/users">users</a>
</div>
