<div class="row my-2">
    <div class="col post">
        <div class="row">
            <div class="col-1">
                <%- post.title %>:
            </div>
            <div class="col-3">
                <%- post.body %>
            </div>
            <div class="col-3">
                <a href="<%- post.link %>" target="_blank"><%- post.link %></a>
            </div>
        </div>
    </div>
</div>
