<div class="jumbotron">
    <h1>Announcements</h1>
    <div class="container posts" id="posts">
        <ul>
            <% posts.forEach(post => { %>
                <li>
                    <%- include('post.ejs', {post: post}); %>
                </li>
            <% }) %>
        </ul>
    </div>
</div>

<script></script>
