<div class="jumbotron">
    <h1>Announcements</h1>
    <div class="container posts" id="posts">
        <ol>
            <% userPosts.forEach(post => { %>
                <li>
                    <%- include('post.ejs', {post: post}); %>
                </li>
            <% }) %>

        </ol>
    </div>
</div>

<script></script>
