.alternating-table > div:nth-child(even) {
    background: #E8E8E8;
  }

.alternating-table > div:hover {
    /* background: #3f4045; */
    /* background: #89C1C5; */
    background: #D3D3D3;
    cursor: pointer
}