/* colors:
  navbar dark blue: #2B2D42
  hover orange: #FF8427
  lighter blue: #26547C
  lightest blue: #8EA8C3
  hover row gray: #D3D3D3
  alternating row gray: #E8E8E8

*/
.alternating-table > div:nth-child(even) {
    background: #E8E8E8;
  }

.alternating-table > div:hover {
    /* background: #3f4045; */
    /* background: #89C1C5; */
    background: #D3D3D3;
    cursor: pointer
}

.nav-color {
  background-color: #2B2D42;
}

header {
  padding-bottom: 10px;
}

.border-success-custom {
  --bs-border-opacity: 1;
  border-color: rgba(98,168,124,var(--bs-border-opacity))!important;
}

.border-warning-custom {
  --bs-border-opacity: 1;
  border-color: rgba(255, 132, 39,var(--bs-border-opacity))!important;
}

.border-change-custom {
  --bs-border-opacity: 1;
  border-color: rgba(38, 84, 124,var(--bs-border-opacity))!important;
}

.bg-success-custom {
  background-color: #62A87C;
}

.bg-warning-custom {
  background-color: #FF8427;
}

.btn-primary {
  background-color: #2B2D42;
  border-color: #2B2D42;
  border-radius: 0.25ch;
}

.btn-outline-primary {
  color: #2B2D42;
  border-color: #2B2D42;
}

.btn-primary:hover, .btn-outline-primary:hover {
  background-color: #FF8427;
  border-color: #FF8427;
}

.btn-primary:focus, .btn-outline-primary:focus {
  background-color: #26547C;
  border-color: #26547C;
}

.btn-secondary {
  background-color: #26547C;
  border-color: #26547C;
  border-radius: 0.25ch;
}

.btn-outline-secondary {
  color: #26547C;
  border-color: #26547C;
}

.btn-secondary:hover, .btn-outline-secondary:hover {
  background-color: #FF8427;
  border-color: #FF8427;
}

.btn-secondary:focus, .btn-outline-secondary:focus {
  background-color: #2B2D42;
  border-color: #2B2D42;
}

.breadcrumb-item a {
  text-decoration: none;
}

.breadcrumb-item a:link {
  color: #26547C;
}
.breadcrumb-item a:visited {
  color: #26547C;
}
.breadcrumb-item a:hover {
  color: #2B2D42;
}
.breadcrumb-item a:active {
  color: 2B2D42;
}

/* for calendar day headers and numbers */
.fc-day a {
  color: #26547C;
  text-decoration: none;
}

.square {
  width: 3vw;
  height: 3vw;
}