<!-- requires assignments (list) -->
<div class="container alternating-table my-4" id="courses">
    <% assignmentItems.forEach(assignmentItem => { %>
        <%- assignmentItem %>
    <% }) %>
</div>
