<select class="form-select my-2" id="group-select" aria-label="Default select section">
    <option selected>Select Group</option>
    <% groups.forEach(group => { %>
        <option value="<%=group.id%>"><%=group.name%></option>
    <% }) %>
</select>
